
.containerProd{
  height: 250px;
  padding-top: 20px;
}

.textProd{
  z-index: 1;
  top: -10px;
  position: relative;
  padding-left: 20%;
}
.text2,
.text1{
  z-index: 1;
  position: relative;
  width: 230px;
  height: 170px;
  box-shadow: 0 1px 3px 1px black;
}
.miniTextProd{
  font-size: 8px;
  position: relative;
}
.textProd{
  z-index: 1;
  font-size: 25px;
  position: relative;
  top: -15px;
}

.pic1 {
  max-width: 230px;
  max-height: 350px;
  position: relative;
  left: -20px;
  top: -100px;
}
.pic2{
  max-width: 230px;
  max-height: 350px;
  position: relative;
  top: -50px;
  right: -20px;
}


@media screen and (max-width: 636px){
  .titleProd{
    font-size: 10px;
    position: relative;

  }
  .miniTextProd{
    position: relative;
    font-size: 5px;
  }
  .text1{
    width: 150px;
    height: 100px;
  }
  .text2{
    width: 150px;
    height: 100px;
    right: 20px;
  }
  .pic1{
    width: 130px;
   height: 250px;
    top: -80px;
  }
  .pic2{
    width: 130px;
    height: 250px;
    right: 0;
  }
  .textProd{
    z-index: 1;
    top: -15px;
    font-size: 20px;
    position: relative;
    padding-left: 5%;
  }
  .containerProd{
    height: 180px;
  }
}

@media screen and (min-width: 700px){
  .titleProd{
    font-size: 14px;
    position: relative;
  }
  .miniTextProd{
    position: relative;
    font-size: 8px;
  }
}