
.containerProd{
  height: 250px;
}

.textProd{
  z-index: 1;
  top: -13px;
  position: relative;
  padding-left: 20%;
}

.text1{
  z-index: 1;
  position: relative;
  max-width: 250px;
  max-height: 170px;
  font-size: 8px;
  box-shadow: 0 1px 3px 1px black;

}

.pic1 {
  max-width: 230px;
  max-height: 350px;
  position: relative;
  left: -20px;
  top: -85px;
}
.pic2{
  max-width: 230px;
  max-height: 350px;
  position: relative;
  top: -50px;
  right: -20px;
}


