.dropdown-menu{
  top: 32px;
}

.shadowLogo{
  height: 37px;
  box-shadow: 6px 0 5px 0 rgba(31, 73, 125, 0.8), -6px 0 5px 0px rgba(31, 73, 125, 0.8);
}

.navHeight{
  height: 37px;
}

.app-page{
  background-color: #303030;
}


.textAbout{
  font-size: 10px;
}

