.footerContainer{
  width: 100%;
  height: 100px;
  bottom: 0;
}

.contactContainer{
  position: relative;
  z-index: 1;
  width: 250px;
  height: 85px;
  top: -10px;
  box-shadow: 0 1px 3px 1px black;
}

.contact-card{
  font-size: 10px;
  width: 150px;

}

.containerSocial{
  z-index: 1;
  top: -13px;
  position: relative;
  padding-left: 25%;
}
.bookLogo{
  right: 0;
  width: 60px;
  bottom: 0;
}

.textContact{
  padding-right: 25%;
  padding-left: 25%;
}

.textRights{
  font-size: 6px;
}